@charset "utf-8";

section {
/*	background-color: pink;*/

	width: 760px;	
	float: right;
	margin-top: 70px;
}
section h3 {
/*	background-color: lime;*/

	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
.info {
/*	background-color: brown;*/

/*	height: 300px;*/
}
.photo {
/* 	height: 405px; */
	height: 300px;
	margin-bottom:15px;

	background-image:url('../img/introduce/profile.jpg');
	background-repeat:no-repeat;
	background-position: 90% 45%;

	overflow: hidden;
}

.photo span {
	font-size:35px;
	display:block;
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 0 20px;
}
.photo span:first-child {
	margin: 100px 0 0 0;
}

article {
	font-size: 13px;
/*	background-color: green;*/
}
article strong {
	line-height: 2;
}
article p {
	line-height: 1.5;
}
article + article {
	margin: 15px 0 0 0;
}