@charset "utf-8";

section {
	font-size: 13px;
/*	background-color: pink;*/

	width: 760px;
	float: right;
	margin-top: 70px;
}
section h3 {
	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
section h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}
.story {
/*	background-color: lightblue;*/

	margin: 0 0 33px 0;
}
.story p {
	line-height: 1.5;
}
.info {
/*	background-color: brown;*/

	height: 300px;
}
.view {
/*	background-color: gray;*/
	overflow: hidden;

/*	position: relative;*/
/*	padding-bottom: 137px;*/
}

.small_view {
/*	position: absolute;
	top: 0px;
	left: 0;*/

	float: left;

	width: 768px;

}
.small_view li {
	position: relative;
/*	background-color: green;*/
	font-size: 0;

	float: left;

	width: 248px;

	margin: 0 8px 8px 0;

}

.small_view li a img {
	width:100%;
}

.small_view li a {
	text-decoration: none;
}

.text p{

	text-align:center;
/*	line-height: 156px;*/
	line-height: 1.5;
	margin: 55px 0 0 0;
	font-size: 15px;
}

.small_view .text {
	position: absolute;
	top: 0;
	width: 248px;
	opacity: 0;
	height: 100%;

	transition: 0.5s;
	-ms-transition: 0.5s;
	-webkit-transition: 0.5s;
}

.text:hover {
/*	background-color: #C1D832;*/
/*	background-color: #8BB333;*/
	background-color: #f1f1f3;
	opacity: 1;
}

