@charset "utf-8";

/* reset */
html {
	font-size:100%;
}
body {
	font:normal 12px '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic,Arial,Verdana,sans-serif;
	line-height:1.3;
	color:black;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
table {
	width:100%;
	border-collapse:collapse;
}

table caption {position:absolute; top:0; left:-999999px;}

a:link, a:visited {
	color: #444547;
	text-decoration:none;
}
a:hover, a:focus, a:active {
	color:#55aaea;
	text-decoration:underline;
}
select, input, textarea {
	font:normal 1em '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	color:#797b80;
	vertical-align:middle;
}

/* common */
.wrap {
	background-color: yellow;

	width: 100%;
}
.header {
	background-color: lime;

	width: 940px;
	height: 95px;
	margin: 0 auto;

	overflow: hidden;
}
.header h1 {
	border: 1px solid black;
	font-size: 30px;

	margin-top: 14px;
	display: inline-block;
	float: left;
}
.header h1 a img {
	display: block;
}
.nav {
	background-color: red;

	float: right;
	margin-top: 32px;
	margin-right: 40px;
}

.nav li {
	border: 1px solid black;

	float: left;
	font-size: 20px;
}

.nav li a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}

.nav li + li {
	margin-left: 40px;
}

/* footer */
.footer {
	background-color: #f1f1f3;
	
	width: 100%;
	height: 130px;
/*	overflow: hidden;*/
}

.footer .inner {
	background-color: lime;

	width: 940px;
	height: 130px;
	margin: 0 auto;

	position: relative;
}

.footer .inner strong {
	background-color: red;

	display: inline-block;
	margin-top: 25px;
/*	float: left;*/
}

.footer .inner strong img {
	width: 150px;
}

.footer .inner .job-kakao {
	background-color: yellow;

	width: 200px;
	position: absolute;
	top: 25px;
	left: 200px;

/*	overflow: hidden;*/
/*	float: left;*/
}

.footer .inner .job-kakao p {
	border: 1px solid black;

/*	float: left;*/
	margin-bottom: 14px;
}

.footer .inner .phone-mail {
	background-color: yellow;

	width: 200px;
	position: absolute;
	top: 25px;
	left: 400px;
	
/*	overflow: hidden;*/
/*	float: left;*/
}

.footer .inner .phone-mail p {
	border: 1px solid black;

/*	float: left;*/
	margin-bottom: 14px;
}

.footer .inner > p {
	background-color: blue;

/*	clear: both;
	margin-left: 180px;*/

	position: absolute;
	top: 90px;
	left: 200px;
}