@charset "utf-8";

/* slide */
.panel {
	background-color: green;

	width: 940px;
	height: 135px;
	margin: 0 auto;
	background-image: url('../img/background/sunset.jpg');
	background-repeat: no-repeat;
	background-position: 50% 90%;
/*	background-size: 940px 135px;*/
}

/* main */
.main {
	background-color: red;

	width: 940px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 100px;
}
.sub {
	background-color: blue;

	width: 180px;
	float: left;
}
.sub h2 {
	margin: 40px 0 10px;
	font-size: 18px;
	border-bottom: 2px solid;
	font-family: 'Open Sans', sans-serif;
}
.content {
	background-color: pink;

	width: 760px;
	float: right;
	margin-top: 70px;
	position: relative;
}
.content h3 {
	background-color: lime;

	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
.view {
	background-color: red;

	position: relative;
	padding-bottom: 137px;
}
.small_view {
	position: absolute;
	top: 500px;
	left: 0;
}
.small_view li {
	background-color: green;	

	float: left;

	width: 120px;
	height: 100px;
}
.small_view li + li {
	margin-left: 8px;
}
.big_view {
	background-color: blue;	

	position: relative;
	width: 760px;
	height: 470px;
}
.info {
	background-color: brown;

	height: 300px;
}
.blind {
	visibility: hidden;
	height: 0;
}