@charset "utf-8";

section {
	font-size: 13px;
	width: 760px;
	float: right;
	margin-top: 70px;
	position: relative;
}
section h3 {
	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
.view {
	position: relative;
	padding-bottom: 137px;
}

.small_view {
	position: absolute;
	top: 500px;
	left: 0;
}
.small_view li {

	float: left;

	width: 120px;
	height: 100px;
}

.small_view li a img {
	width:100%;
}

.small_view li a {
	text-decoration: none;
}

.small_view li a:hover {
	opacity: 0.5;
}

.small_view li a p {

	text-align:center;
	margin: 3px 0 0 0;
}


.small_view li + li {
	margin-left: 8px;
}
.big_view {

	position: relative;
	width: 760px;
	height: 470px;
}
.big_view img {
	width: 100%;
}
.story {

	margin-top: 33px;
	padding-top: 28px;
	border-top: 2px solid #c6c6c6;
}
.story p {
	line-height: 1.5;
}
.info {
	background-color: brown;

	height: 300px;
}