@charset "utf-8";

section {
/*	background-color: pink;*/

	font-size: 13px;
	width: 760px;
	float: right;
	margin-top: 70px;
}
section h3 {
/*	background-color: lime;*/

	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}
section h4 {
	font-size: 18px;
	margin: 0 0 10px 0;
}
.story {
/*	background-color: lightblue;*/

	margin: 0 0 33px 0;
}
.story p {
	line-height: 1.5;
}
.info {
	background-color: brown;

	height: 300px;
}








.view {
	overflow: hidden;

/*	position: relative;*/
/*	padding-bottom: 137px;*/
}

.small_view {
/*	position: absolute;
	top: 0px;
	left: 0;*/

	float: left;
	width: 807px;
}
.small_view li {
	position: relative;
	background-image: url('../img/workroom/university/phone.jpg');
	background-size: auto;
	font-size: 0;

	float: left;

	width: 222px;
	height: 404px;

	margin: 0 47px 20px 0;

}

.small_view li img {
	display: inline-block;
	margin: 45px 0 0 16px;
	border: 2px solid gray;
	border-radius: 5px;
	width: 185px;
}












.blind {
	visibility: hidden;
	height: 0;
}



/*
.story {
	background-color: blue;

	margin-top: 33px;
	padding-top: 28px;
	border-top: 1px solid #c6c6c6;
}
.story p {
	line-height: 1.5;
}
*/